@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.btn-xl {
    padding: 5px 5px;
    font-size: 19px;
    font-family: 'Permanent Marker';
    border-radius: 15px;
    width:8%;
}

.sampleList {
    font-family: 'Permanent Marker';
    font-size: 25px;
    color: orange;
}